/*.idea
/*.iml
/*.tmp
.settings/org.eclipse.core.resources.prefs
/build
/forge.log
/forge.preferences
/release.properties
res/PerSetTrackingResults
res/cardsfolder/cardsfolder.zip
res/gui/display_new_layout.xml
res/quest/questData.dat
res/reprintSetInfo.log
res/setInfoScript.log
/target
/test-output
