* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
/2009-10-12-00.txt -text svneol=native#text/plain
/delete-me.txt svneol=native#text/plain
/forge.properties svneol=native#text/plain
res/AllTokens.txt -text svneol=native#text/plain
res/all-decks2 -text svneol=unset#unset
res/booster-decks -text svneol=unset#unset
res/card-pictures.txt -text svneol=native#text/plain
res/cards.txt -text svneol=native#text/plain
res/common.txt -text svneol=native#text/plain
res/gui/display_layout.xml svneol=native#text/xml
res/gui/gui.properties svneol=native#text/plain
res/lang/de.properties svneol=native#text/plain
res/lang/en.properties svneol=native#text/plain
res/lang/howTo/de.properties svneol=native#text/plain
res/lang/howTo/en.properties svneol=native#text/plain
res/lang/lang.properties svneol=native#text/plain
res/main.properties svneol=native#text/plain
res/name-mutator.txt -text svneol=native#text/plain
res/quest/common.txt -text svneol=native#text/plain
res/quest/easy.txt -text svneol=native#text/plain
res/quest/hard.txt -text svneol=native#text/plain
res/quest/medium.txt -text svneol=native#text/plain
res/quest/quest.properties svneol=native#text/plain
res/quest/questData -text svneol=unset#unset
res/quest/rare.txt -text svneol=native#text/plain
res/quest/uncommon.txt -text svneol=native#text/plain
res/rare.txt -text svneol=native#text/plain
res/tokens.txt -text svneol=native#text/plain
res/uncommon.txt -text svneol=native#text/plain
src/Ability.java svneol=native#text/plain
src/Ability_Activated.java svneol=native#text/plain
src/Ability_Hand.java svneol=native#text/plain
src/Ability_Mana.java -text svneol=native#text/plain
src/Ability_Tap.java svneol=native#text/plain
src/All.java svneol=native#text/plain
src/AllZone.java svneol=native#text/plain
src/BackgroundPanel.java -text svneol=native#text/plain
src/BoosterDraft.java svneol=native#text/plain
src/BoosterDraftAI.java svneol=native#text/plain
src/BoosterPack.java svneol=native#text/plain
src/ButtonUtil.java svneol=native#text/plain
src/Card.java svneol=native#text/plain
src/CardDetailUtil.java svneol=native#text/plain
src/CardFactory.java svneol=native#text/plain
src/CardFactoryUtil.java svneol=native#text/plain
src/CardList.java svneol=native#text/plain
src/CardListFilter.java svneol=native#text/plain
src/CardListUtil.java svneol=native#text/plain
src/CardPanel.java svneol=native#text/plain
src/CardUtil.java svneol=native#text/plain
src/Combat.java svneol=native#text/plain
src/CombatPlaneswalker.java svneol=native#text/plain
src/CombatUtil.java svneol=native#text/plain
src/Command.java svneol=native#text/plain
src/CommandArgs.java svneol=native#text/plain
src/CommandList.java svneol=native#text/plain
src/CommandReturn.java svneol=native#text/plain
src/Computer.java svneol=native#text/plain
src/ComputerAI_Burn.java svneol=native#text/plain
src/ComputerAI_Burn2.java svneol=native#text/plain
src/ComputerAI_General.java svneol=native#text/plain
src/ComputerAI_Input.java svneol=native#text/plain
src/ComputerAI_Rats2.java svneol=native#text/plain
src/ComputerAI_StackNotEmpty.java svneol=native#text/plain
src/ComputerAI_Testing.java svneol=native#text/plain
src/ComputerAI_counterSpells.java -text svneol=native#text/plain
src/ComputerUtil.java -text svneol=native#text/plain
src/ComputerUtil_Attack2.java svneol=native#text/plain
src/ComputerUtil_Block2.java svneol=native#text/plain
src/Computer_Cleanup.java svneol=native#text/plain
src/Computer_Draw.java svneol=native#text/plain
src/Computer_Race.java svneol=native#text/plain
src/Constant.java svneol=native#text/plain
src/Deck.java svneol=native#text/plain
src/DeckIO.java svneol=native#text/plain
src/DefaultPlayerZone.java svneol=native#text/plain
src/Display.java svneol=native#text/plain
src/EndOfTurn.java svneol=native#text/plain
src/ErrorViewer.java svneol=native#text/plain
src/ExternalPanel.java svneol=native#text/plain
src/FileUtil.java -text svneol=native#text/plain
src/GameAction.java svneol=native#text/plain
src/GameActionUtil.java svneol=native#text/plain
src/GenerateConstructedDeck.java svneol=native#text/plain
src/GenerateConstructedMultiColorDeck.java -text svneol=native#text/plain
src/GenerateDraftDeck.java svneol=native#text/plain
src/GenerateSealedDeck.java svneol=native#text/plain
src/GuiDisplay.java svneol=native#text/plain
src/GuiDisplay2.java svneol=native#text/plain
src/GuiDisplay3.java -text svneol=native#text/plain
src/GuiDisplayUtil.java svneol=native#text/plain
src/GuiInput.java svneol=native#text/plain
src/Gui_BoosterDraft.java svneol=native#text/plain
src/Gui_DeckEditor.java -text svneol=native#text/plain
src/Gui_DeckEditor_Menu.java svneol=native#text/plain
src/Gui_DownloadPictures.java svneol=native#text/plain
src/Gui_MultipleBlockers.java svneol=native#text/plain
src/Gui_NewGame.java svneol=native#text/plain
src/Gui_Quest.java svneol=native#text/plain
src/Gui_QuestOptions.java svneol=native#text/plain
src/Gui_Quest_DeckEditor.java -text svneol=native#text/plain
src/Gui_Quest_DeckEditor_Menu.java -text svneol=native#text/plain
src/Gui_SealedDeck.java svneol=native#text/plain
src/Gui_SetEditor.java svneol=native#text/plain
src/Gui_Welcome.java svneol=native#text/plain
src/Gui_WinLose.java svneol=native#text/plain
src/IO.java svneol=native#text/plain
src/ImageCache.java svneol=native#text/plain
src/ImageJPanel.java -text svneol=native#text/plain
src/ImageUtil.java svneol=native#text/plain
src/Input.java svneol=native#text/plain
src/InputControl.java svneol=native#text/plain
src/InputUtil.java svneol=native#text/plain
src/Input_Attack.java svneol=native#text/plain
src/Input_Attack_Instant.java -text svneol=native#text/plain
src/Input_Attack_Planeswalker.java svneol=native#text/plain
src/Input_Before_Attack_Instant.java -text svneol=native#text/plain
src/Input_Block.java svneol=native#text/plain
src/Input_Block_Instant.java svneol=native#text/plain
src/Input_Block_Planeswalker.java svneol=native#text/plain
src/Input_Cleanup.java svneol=native#text/plain
src/Input_CombatDamage.java svneol=native#text/plain
src/Input_Draw.java svneol=native#text/plain
src/Input_EOT.java svneol=native#text/plain
src/Input_FirstStrikeDamage.java -text svneol=native#text/plain
src/Input_Main.java svneol=native#text/plain
src/Input_Mulligan.java svneol=native#text/plain
src/Input_NoCost_TapAbility.java svneol=native#text/plain
src/Input_PayManaCost.java svneol=native#text/plain
src/Input_PayManaCostUtil.java svneol=native#text/plain
src/Input_PayManaCost_Ability.java svneol=native#text/plain
src/Input_StackNotEmpty.java svneol=native#text/plain
src/Input_Untap.java svneol=native#text/plain
src/KeyListenerTest.java -text svneol=native#text/plain
src/MagicStack.java svneol=native#text/plain
src/ManaCost.java svneol=native#text/plain
src/ManaPool.java svneol=native#text/plain
src/Mana_Part.java svneol=native#text/plain
src/Mana_PartColor.java svneol=native#text/plain
src/Mana_PartColorless.java svneol=native#text/plain
src/Mana_PartSplit.java svneol=native#text/plain
src/Mana_PartTest.java svneol=native#text/plain
src/Mana_PayCost.java svneol=native#text/plain
src/MenuItem_HowToPlay.java svneol=native#text/plain
src/Move.java svneol=native#text/plain
src/MoveAttack.java svneol=native#text/plain
src/MyButton.java svneol=native#text/plain
src/MyObservable.java svneol=native#text/plain
src/MyRandom.java svneol=native#text/plain
src/NameChanger.java svneol=native#text/plain
src/NewIO.java svneol=native#text/plain
src/NonScrollingJEditorPane.java -text svneol=native#text/plain
src/Phase.java svneol=native#text/plain
src/PhaseObserver.java svneol=native#text/plain
src/PicturePanel.java svneol=native#text/plain
src/PlayerLife.java svneol=native#text/plain
src/PlayerZone.java svneol=native#text/plain
src/PlayerZoneUtil.java svneol=native#text/plain
src/PlayerZone_ComesIntoPlay.java svneol=native#text/plain
src/PrintCardNames.java svneol=native#text/plain
src/PrintCardPictures.java svneol=native#text/plain
src/QuestData.java svneol=native#text/plain
src/QuestData_BoosterPack.java svneol=native#text/plain
src/ReadBoosterPack.java svneol=native#text/plain
src/ReadCard.java svneol=native#text/plain
src/Run.java svneol=native#text/plain
src/RunTest.java svneol=native#text/plain
src/SimpleCombat.java svneol=native#text/plain
src/Spell.java svneol=native#text/plain
src/SpellAbility.java -text svneol=native#text/plain
src/SpellAbilityList.java svneol=native#text/plain
src/SpellAbilityUtil.java svneol=native#text/plain
src/Spell_Evoke.java svneol=native#text/plain
src/Spell_Permanent.java svneol=native#text/plain
src/StackObserver.java svneol=native#text/plain
src/StateBasedEffects.java -text svneol=native#text/plain
src/TableModel.java -text svneol=native#text/plain
src/TableSorter.java svneol=native#text/plain
src/TempRun.java svneol=native#text/plain
src/Test.java svneol=native#text/plain
src/TestMove.java svneol=native#text/plain
src/TestPanel.java svneol=native#text/plain
src/Time.java svneol=native#text/plain
src/UndoCommand.java svneol=native#text/plain
src/Wait.java svneol=native#text/plain
src/WinLose.java svneol=native#text/plain
src/forge/error/ErrorViewer.java svneol=native#text/plain
src/forge/error/ExceptionHandler.java -text svneol=native#text/plain
src/forge/gui/ForgeAction.java svneol=native#text/plain
src/forge/gui/ListChooser.java svneol=native#text/plain
src/forge/properties/ForgeProps.java svneol=native#text/plain
src/forge/properties/NewConstants.java svneol=native#text/plain
src/org/jdesktop/swingx/MultiSplitLayout.java -text svneol=native#text/plain
src/org/jdesktop/swingx/MultiSplitPane.java -text svneol=native#text/plain
src/treeProperties/PropertyElement.java svneol=native#text/plain
src/treeProperties/PropertyType.java -text svneol=native#text/plain
src/treeProperties/TreeProperties.java -text svneol=native#text/plain
src/treeProperties/types/FileType.java -text svneol=native#text/plain
