* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
/2009-10-12-00.txt -text svneol=native#text/plain
/delete-me.txt svneol=native#text/plain
/forge.properties svneol=native#text/plain
res/AllTokens.txt -text svneol=native#text/plain
res/all-decks2 -text svneol=unset#unset
res/booster-decks -text svneol=unset#unset
res/card-pictures.txt -text svneol=native#text/plain
res/cards.txt -text svneol=native#text/plain
res/common.txt -text svneol=native#text/plain
res/gui/display_layout.xml svneol=native#text/xml
res/gui/gui.properties svneol=native#text/plain
res/lang/de.properties svneol=native#text/plain
res/lang/en.properties svneol=native#text/plain
res/lang/howTo/de.properties svneol=native#text/plain
res/lang/howTo/en.properties svneol=native#text/plain
res/lang/lang.properties svneol=native#text/plain
res/main.properties svneol=native#text/plain
res/name-mutator.txt -text svneol=native#text/plain
res/quest/common.txt -text svneol=native#text/plain
res/quest/easy.txt -text svneol=native#text/plain
res/quest/hard.txt -text svneol=native#text/plain
res/quest/medium.txt -text svneol=native#text/plain
res/quest/quest.properties svneol=native#text/plain
res/quest/questData -text svneol=unset#unset
res/quest/rare.txt -text svneol=native#text/plain
res/quest/uncommon.txt -text svneol=native#text/plain
res/rare.txt -text svneol=native#text/plain
res/tokens.txt -text svneol=native#text/plain
res/uncommon.txt -text svneol=native#text/plain
src/Deck.java svneol=native#text/plain
src/DeckConverter.java svneol=native#text/plain
src/OldDeckIO.java svneol=native#text/plain
src/QuestData_State.java svneol=native#text/plain
src/forge/Ability.java svneol=native#text/plain
src/forge/Ability_Activated.java svneol=native#text/plain
src/forge/Ability_Hand.java svneol=native#text/plain
src/forge/Ability_Mana.java -text svneol=native#text/plain
src/forge/Ability_Tap.java svneol=native#text/plain
src/forge/Ability_Triggered.java svneol=native#text/plain
src/forge/All.java svneol=native#text/plain
src/forge/AllZone.java svneol=native#text/plain
src/forge/BackgroundPanel.java -text svneol=native#text/plain
src/forge/BoosterDraft.java svneol=native#text/plain
src/forge/BoosterDraftAI.java svneol=native#text/plain
src/forge/BoosterPack.java svneol=native#text/plain
src/forge/ButtonUtil.java svneol=native#text/plain
src/forge/Card.java svneol=native#text/plain
src/forge/CardDetailUtil.java svneol=native#text/plain
src/forge/CardFactory.java svneol=native#text/plain
src/forge/CardFactoryUtil.java svneol=native#text/plain
src/forge/CardFactory_Auras.java -text svneol=native#text/plain
src/forge/CardFactory_Creatures.java -text svneol=native#text/plain
src/forge/CardFactory_Equipment.java -text svneol=native#text/plain
src/forge/CardFactory_Lands.java -text svneol=native#text/plain
src/forge/CardFactory_Planeswalkers.java -text svneol=native#text/plain
src/forge/CardList.java svneol=native#text/plain
src/forge/CardListFilter.java svneol=native#text/plain
src/forge/CardListUtil.java svneol=native#text/plain
src/forge/CardPanel.java svneol=native#text/plain
src/forge/CardParser.java svneol=native#text/plain
src/forge/CardUtil.java svneol=native#text/plain
src/forge/Combat.java svneol=native#text/plain
src/forge/CombatPlaneswalker.java svneol=native#text/plain
src/forge/CombatUtil.java svneol=native#text/plain
src/forge/Command.java svneol=native#text/plain
src/forge/CommandArgs.java svneol=native#text/plain
src/forge/CommandList.java svneol=native#text/plain
src/forge/CommandReturn.java svneol=native#text/plain
src/forge/Computer.java svneol=native#text/plain
src/forge/ComputerAI_Burn.java svneol=native#text/plain
src/forge/ComputerAI_Burn2.java svneol=native#text/plain
src/forge/ComputerAI_General.java svneol=native#text/plain
src/forge/ComputerAI_Input.java svneol=native#text/plain
src/forge/ComputerAI_Rats2.java svneol=native#text/plain
src/forge/ComputerAI_StackNotEmpty.java svneol=native#text/plain
src/forge/ComputerAI_Testing.java svneol=native#text/plain
src/forge/ComputerAI_counterSpells.java -text svneol=native#text/plain
src/forge/ComputerUtil.java -text svneol=native#text/plain
src/forge/ComputerUtil_Attack2.java svneol=native#text/plain
src/forge/ComputerUtil_Block2.java svneol=native#text/plain
src/forge/Computer_Cleanup.java svneol=native#text/plain
src/forge/Computer_Draw.java svneol=native#text/plain
src/forge/Computer_Race.java svneol=native#text/plain
src/forge/Constant.java svneol=native#text/plain
src/forge/Deck.java svneol=native#text/plain
src/forge/DeckIO.java svneol=native#text/plain
src/forge/DefaultPlayerZone.java svneol=native#text/plain
src/forge/Display.java svneol=native#text/plain
src/forge/EndOfTurn.java svneol=native#text/plain
src/forge/ExternalPanel.java svneol=native#text/plain
src/forge/FileUtil.java -text svneol=native#text/plain
src/forge/GameAction.java svneol=native#text/plain
src/forge/GameActionUtil.java svneol=native#text/plain
src/forge/GenerateConstructedDeck.java svneol=native#text/plain
src/forge/GenerateConstructedMultiColorDeck.java -text svneol=native#text/plain
src/forge/GenerateDraftDeck.java svneol=native#text/plain
src/forge/GenerateSealedDeck.java svneol=native#text/plain
src/forge/GuiDisplay.java svneol=native#text/plain
src/forge/GuiDisplay2.java svneol=native#text/plain
src/forge/GuiDisplay3.java -text svneol=native#text/plain
src/forge/GuiDisplayUtil.java svneol=native#text/plain
src/forge/GuiInput.java svneol=native#text/plain
src/forge/Gui_BoosterDraft.java svneol=native#text/plain
src/forge/Gui_DeckEditor.java -text svneol=native#text/plain
src/forge/Gui_DeckEditorNew.java -text svneol=native#text/plain
src/forge/Gui_DeckEditor_Menu.java svneol=native#text/plain
src/forge/Gui_DownloadPictures.java svneol=native#text/plain
src/forge/Gui_MultipleBlockers.java svneol=native#text/plain
src/forge/Gui_NewGame.java svneol=native#text/plain
src/forge/Gui_Quest.java svneol=native#text/plain
src/forge/Gui_QuestOptions.java svneol=native#text/plain
src/forge/Gui_Quest_DeckEditor.java -text svneol=native#text/plain
src/forge/Gui_Quest_DeckEditor_Menu.java -text svneol=native#text/plain
src/forge/Gui_SealedDeck.java svneol=native#text/plain
src/forge/Gui_SetEditor.java svneol=native#text/plain
src/forge/Gui_Welcome.java svneol=native#text/plain
src/forge/Gui_WinLose.java svneol=native#text/plain
src/forge/IO.java svneol=native#text/plain
src/forge/ImageCache.java svneol=native#text/plain
src/forge/ImageJPanel.java -text svneol=native#text/plain
src/forge/ImageUtil.java svneol=native#text/plain
src/forge/Input.java svneol=native#text/plain
src/forge/InputControl.java svneol=native#text/plain
src/forge/InputUtil.java svneol=native#text/plain
src/forge/Input_Attack.java svneol=native#text/plain
src/forge/Input_Attack_Instant.java -text svneol=native#text/plain
src/forge/Input_Attack_Planeswalker.java svneol=native#text/plain
src/forge/Input_Before_Attack_Instant.java -text svneol=native#text/plain
src/forge/Input_Block.java svneol=native#text/plain
src/forge/Input_Block_Instant.java svneol=native#text/plain
src/forge/Input_Block_Planeswalker.java svneol=native#text/plain
src/forge/Input_Cleanup.java svneol=native#text/plain
src/forge/Input_CombatDamage.java svneol=native#text/plain
src/forge/Input_Draw.java svneol=native#text/plain
src/forge/Input_EOT.java svneol=native#text/plain
src/forge/Input_FirstStrikeDamage.java -text svneol=native#text/plain
src/forge/Input_Main.java svneol=native#text/plain
src/forge/Input_Mulligan.java svneol=native#text/plain
src/forge/Input_NoCost_TapAbility.java svneol=native#text/plain
src/forge/Input_PayManaCost.java svneol=native#text/plain
src/forge/Input_PayManaCostUtil.java svneol=native#text/plain
src/forge/Input_PayManaCost_Ability.java svneol=native#text/plain
src/forge/Input_StackNotEmpty.java svneol=native#text/plain
src/forge/Input_Untap.java svneol=native#text/plain
src/forge/KeyListenerTest.java -text svneol=native#text/plain
src/forge/MagicStack.java svneol=native#text/plain
src/forge/ManaCost.java svneol=native#text/plain
src/forge/ManaPool.java svneol=native#text/plain
src/forge/Mana_Part.java svneol=native#text/plain
src/forge/Mana_PartColor.java svneol=native#text/plain
src/forge/Mana_PartColorless.java svneol=native#text/plain
src/forge/Mana_PartSnow.java svneol=native#text/plain
src/forge/Mana_PartSplit.java svneol=native#text/plain
src/forge/Mana_PartTest.java svneol=native#text/plain
src/forge/Mana_PayCost.java svneol=native#text/plain
src/forge/MenuItem_HowToPlay.java svneol=native#text/plain
src/forge/Move.java svneol=native#text/plain
src/forge/MoveAttack.java svneol=native#text/plain
src/forge/MyButton.java svneol=native#text/plain
src/forge/MyObservable.java svneol=native#text/plain
src/forge/MyRandom.java svneol=native#text/plain
src/forge/NameChanger.java svneol=native#text/plain
src/forge/NewDeckIO.java svneol=native#text/plain
src/forge/NewIO.java svneol=native#text/plain
src/forge/NonScrollingJEditorPane.java -text svneol=native#text/plain
src/forge/OldDeckIO.java svneol=native#text/plain
src/forge/Phase.java svneol=native#text/plain
src/forge/PhaseObserver.java svneol=native#text/plain
src/forge/PicturePanel.java svneol=native#text/plain
src/forge/PlayerLife.java svneol=native#text/plain
src/forge/PlayerZone.java svneol=native#text/plain
src/forge/PlayerZoneUtil.java svneol=native#text/plain
src/forge/PlayerZone_ComesIntoPlay.java svneol=native#text/plain
src/forge/PrintCardNames.java svneol=native#text/plain
src/forge/PrintCardPictures.java svneol=native#text/plain
src/forge/QuestData.java svneol=native#text/plain
src/forge/QuestData_BoosterPack.java svneol=native#text/plain
src/forge/QuestData_State.java svneol=native#text/plain
src/forge/ReadBoosterPack.java svneol=native#text/plain
src/forge/ReadCard.java svneol=native#text/plain
src/forge/Run.java svneol=native#text/plain
src/forge/RunTest.java svneol=native#text/plain
src/forge/SimpleCombat.java svneol=native#text/plain
src/forge/Spell.java svneol=native#text/plain
src/forge/SpellAbility.java -text svneol=native#text/plain
src/forge/SpellAbilityList.java svneol=native#text/plain
src/forge/SpellAbilityUtil.java svneol=native#text/plain
src/forge/Spell_Evoke.java svneol=native#text/plain
src/forge/Spell_Permanent.java svneol=native#text/plain
src/forge/StackObserver.java svneol=native#text/plain
src/forge/StateBasedEffects.java -text svneol=native#text/plain
src/forge/TableModel.java -text svneol=native#text/plain
src/forge/TableSorter.java svneol=native#text/plain
src/forge/TempRun.java svneol=native#text/plain
src/forge/Test.java svneol=native#text/plain
src/forge/TestMove.java svneol=native#text/plain
src/forge/TestPanel.java svneol=native#text/plain
src/forge/Time.java svneol=native#text/plain
src/forge/UndoCommand.java svneol=native#text/plain
src/forge/Wait.java svneol=native#text/plain
src/forge/WinLose.java svneol=native#text/plain
src/forge/ZCTrigger.java svneol=native#text/plain
src/forge/error/ErrorViewer.java svneol=native#text/plain
src/forge/error/ExceptionHandler.java -text svneol=native#text/plain
src/forge/gui/ForgeAction.java svneol=native#text/plain
src/forge/gui/ListChooser.java svneol=native#text/plain
src/forge/properties/ForgeProps.java svneol=native#text/plain
src/forge/properties/NewConstants.java svneol=native#text/plain
src/org/jdesktop/swingx/MultiSplitLayout.java -text svneol=native#text/plain
src/org/jdesktop/swingx/MultiSplitPane.java -text svneol=native#text/plain
src/treeProperties/PropertyElement.java svneol=native#text/plain
src/treeProperties/PropertyType.java -text svneol=native#text/plain
src/treeProperties/TreeProperties.java -text svneol=native#text/plain
src/treeProperties/types/FileType.java -text svneol=native#text/plain
