/*.idea
/*.iml
/*.tmp
/.metadata
/forge.profile.properties
/nbactions.xml
/pom.xml.next
/pom.xml.releaseBackup
/pom.xml.tag
/release.properties
res/pics_product/*
res/pics_product/booster/*
res/pics_product/fatpacks/*
res/pics_product/precons/*
res/pics_product/tournamentpacks/*
res/quest/data
/target
tools/PerSetTrackingResults
tools/oracleScript.log
