{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
