#
# forge.profile.properties.example
#
# To get started using this file, just copy or rename it to
# forge.profile.properties and edit one or more of the paths below.
# 
# Normally, users will not need to do anything here.  Keeping the default paths
# is an easy way to make sure your Forge settings and data are kept safe when
# you upgrade Forge, even if you install to a different path or delete the
# entire Forge program directory before you upgrade.
#
# If you need to, though, you can use this file to set the locations that Forge
# will use to store your data.  However, remember that whenever you install a
# new version of Forge into a different directory, it will not see your data
# unless you copy this file into the new program directory.
#
# If you specify a relative path in this file, it will be relative to the Forge
# program directory.  Note that paths defined in this file will each have the
# whitespace trimmed from their start and end.  If you need the path to start or
# end with a space or tab character, put a slash before or after it, as
# appropriate.  For example, for the directory "<forge dir>/ local  ", use:
#   xxxDir=./ local  /
#
# Also note that all backslashes in this file need to be escaped themselves with
# a backslash.  For example: d:\\mtg-pics.  Forwards slashes work on all
# platforms, including Windows, and do not need to be escaped: d:/mtg-pics.
#
# EXAMPLES
# --------
#
# To have Forge use the default directories:
#   userDir=
#   cacheDir=
#   cardPicsDir=
#
# To use a specific user data directory but the default cache dir on Windows:
#   userDir=D:/ForgeData
#   cacheDir=
#   cardPicsDir=
#
# To put everything under a specific path on a Unix-based system:
#   userDir=/local/path/forge
#   cacheDir=/local/path/forge/cache
#   cardPicsDir=



# This is where Forge will save your personal data, such as your saved decks,
# preferences, and quest progress.  If you want to back up your data or copy it
# to another computer, this is the directory to copy.  The default value is
# platform-specific, and may differ a bit from what is listed here if you have
# an older version of Windows:
#   Windows: <your application data directory>/Forge/
#            (usually, C:/Users/<your username>/Application Data/Roaming/Forge/)
#   OSX:   <your home directory>/Library/Application Support/Forge/
#   Linux: <your home directory>/.forge/
userDir=

# This is where forge will keep downloaded content, such as card pictures and
# updated price lists.  The default values are:
#   Windows: <your local application data directory>/Forge/Cache/
#         (usually C:/Users/<your username>/Application Data/Local/Forge/Cache/)
#   OSX:   <your home directory>/Library/Caches/Forge/
#   Linux: <your home directory>/.cache/forge/
cacheDir=

# This is where forge will download and/or look for card picture data.  The
# directory structure and filenames are the same as those used by Magic
# Workstation, and if you have both programs installed, you can share the same
# picture database between them.  The default value (for all plaforms) is:
#   <the cacheDir defined above>/pics/cards/
cardPicsDir=
