<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="forge.app"
    android:versionCode="106630000"
    android:versionName="1.6.63" > <!-- versionName should be updated and it's used for Sentry releases tag -->

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- This one needs Android Runtime Permission for Android 6+ -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>

    <application
        android:allowBackup="true"
        android:isGame="true"
        android:appCategory="game"
        android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:exported="false">
        </activity>
        <activity
            android:name=".Launcher"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <meta-data android:name="io.sentry.dsn" android:value="https://a0b8dbad9b8a49cfa51bf65d462e8dae:b3f27d7461224cb8836eb5c6050c666c@sentry.cardforge.org/2?buffer.enabled=false" />

        <!-- manually added -->
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:authorities=".SentryInitProvider"
            android:exported="false"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:authorities=".SentryPerformanceProvider"
            android:initOrder="200"
            android:exported="false"/>
    </application>
</manifest>
