name: Publish Forge

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      deployments: write
      packages: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
          server-id: cardforge-repo
          server-username: ${{ secrets.FTP_USERNAME }}
          server-password: ${{ secrets.FTP_PASSWORD }}
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Install virtual framebuffer (if not available) to allow running GUI on a headless server
        run: command -v Xvfb >/dev/null 2>&1 || { sudo apt update && sudo apt install -y xvfb; }

      - name: Configure Git User
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
      - name: Build/Install/Publish to GitHub Packages Apache Maven
        run: |
          export DISPLAY=":1"
          Xvfb :1 -screen 0 800x600x8 &
          mvn -U -B clean -P windows-linux install release:clean release:prepare release:perform -T 1C -Dcardforge-repo.username=${{ secrets.FTP_USERNAME }} -Dcardforge-repo.password=${{ secrets.FTP_PASSWORD }}
        env:
          GITHUB_TOKEN: ${{ github.token }}